/* This is a single-line comment 
colors (https://colorhunt.co/palette/1d16168e1616d84040eeeeee)
black : #1D1616
dark-red: #8E1616
red: #D84040; 
white: #EEEEEE; 
*/


* {
  background-color: #1D1616;
  color: #EEEEEE;
  text-decoration: none;

}

/* navigation bar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20%;
}

nav ul * {
  margin: 0px 20px 0px;
}

nav ul *:hover {
  color: #D84040;
  border-bottom: solid;
}

/* main */
.Main {
  padding: 50px;
}

/* Portifolio*/

.Projeto img {
  width: 200px;
  height: 300px; 
  border: solid;
}