/* This is a single-line comment 
colors (https://colorhunt.co/palette/1d16168e1616d84040eeeeee)
black : #1D1616
dark-red: #8E1616
red: #D84040; 
white: #EEEEEE; 
*


/* icons skills 
uploaded from: https://www.flaticon.com/packs/programming-database-1
https://www.flaticon.com/packs/software-development-logos
*/

* {
  background-color: #1D1616;
  color: #EEEEEE;
  text-decoration: none;
  margin:0px;
  padding: 0px;
}

h1, h2, h3 {
  margin: 10px;
}

/* navigation bar*/
nav {
    height: 50px;
    padding: 10px 10%;
}

nav.mobile {
  display: none;
}


nav.desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 10px 15%;
}

nav.desktop ul * {
  margin: 0px 20px 0px;
  transition: color 1s;
  position: relative;
}


nav.desktop ul *::after {
  content: " ";
  width:0%; 
  height: 4px;
  background-color: #EEEEEE;
  position: absolute;
  bottom: -2px;
  left:0;
  transition: 1s;
}

nav.desktop ul *:hover {
  color: #D84040;
}

nav.desktop ul *:hover::after {
  width: 100%;
  background-color: #D84040;
}



/* main */
.Main {
  padding: 50px;
}

/* Footer */

.Footer {
  border: solid;
  height: 15vw;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1% 20%;
}

.icons * {
  height: 40px;
  width: 40px;
  margin: 0px 20px 0px;
}

.icons *:hover{
  color: #D84040;

}
/* Portfolio */

.Projeto img {
  width: 200px;
  height: 300px; 
  border: solid;
}




.Portfolio {
  width: 70%;
  height: auto;
  margin: auto;
}

.Portfolio .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Projeto {
  width: 200px;
  height: auto;
  margin: 20px;
  padding: 20px;
  justify-items: center;
  border-radius: 8px;
  background-color: #EEEEEE;
}

.Projeto * { 
  background-color: #EEEEEE;
  color:#1D1616;
}







/*sobre mim */
section {
  margin: 40px;
  justify-items: center;
}


.skills {
  width: 60%;
  flex-wrap: wrap;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.skill { 
  margin: max(3%, 15px);
  padding: 15px;
  background-color:#EEEEEE;
  width: 40%;
  min-width: 140px;
  height: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius:8px;
  border-right: solid #D84040 4px;
  border-bottom: solid #D84040 2px;
}

#tech > div {
  min-width: 0px;
  width: 110px;
  min-width: auto;
  height: auto;
}

.skill * {
  color:#1D1616;  
  background-color: #EEEEEE 
}



.skill img {
  width: 50px;
  height: auto;
  background-color:#EEEEEE;
}



@media screen and  (max-width: 475px){
  /* navigation bar*/
  nav.desktop{
    display: none;
  }

  nav.mobile {
    display:flex;
    justify-content: flex-end;
  } 

  nav.mobile > * {
    width: 30px;
    height: auto;
  }
  
  nav.mobile ul {
    border: solid;
    top:0%;
    right:0%;
    width: 150px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    padding: 20px 30px 20px 0px;
    background-color: #EEEEEE;
  }



  nav.mobile ul * {
    color:#1D1616;
    background-color: #EEEEEE;
    margin-bottom: 20px;
  }


  
  .closeIcon {
    margin-right: 70%;
    margin-bottom: 10%;
  }

  .closeIcon:hover { 
    color:#D84040;
  }


}




